<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- Controls Interaction Attributes-->
    <add key="timeout" value="90"/>
    <!-- Sikuli Attributes-->
    <add key="sikuli.similarity" value="0.95"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
